/* Inserta tu CSS aqui */

div {
	width: 240px;
	height: 340px;
	border: 0px;
	background: #F6F4F4;
	left: 20px;
	top: 20px;
	margin-top: 0px;
	margin-left: 0px;
	display: inline-block;
	position: relative;
}
div:hover {
	background:white;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(240,237,240,1);
	-moz-box-shadow: 10px 10px 5px -8px rgba(240,237,240,1);
	box-shadow: 10px 10px 5px -8px rgba(240,237,240,1);
}

div:hover h2, div:hover p , div:hover .icon {
	color: #DEEDEC;
}
div:hover h2, div:hover h6, div:hover p , div:hover .icon {
	-webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.icon {
	left: 100px;
	top: 40px;
	color: grey;
	margin: 0px;
	border: 0px;
	font-size: 3em;
	position: absolute;
}
h2 {
	font-family: 'Lobster', cursive; font-size: 26px; color: grey;
	margin-top: 100px;
	text-align: center;
}

h6 {
	font-family: 'Josefin Sans',sans-serif; font-size: 15px; color: grey;
	text-align: center;
	margin: 0;
	border: 0;
}
p {
	font-family: 'Open Sans Condensed', sans-serif; font-size: 15px; color: grey;
	text-align: justify;
	padding: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}

